<h1>Eat Da Burger!</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="top-bar">
      <h1> Eat Da Burger!</h1>
      <div class="col-xs-6 text-center" class="task">
        <div class="row">
          {{#each burger_data}}
            
        </div>

      </div>

    </div>
  </div>

</div>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    {{!-- {{notice label "for" and "id" is set to cat}} --}}
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>



  <button type="submit">Add A Burger</button>
</form>