<h1>Eat Da Burger!</h1>


//using cat template.  Need to change
<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    {{!-- {{notice label "for" and "id" is set to cat}} --}}
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  

  <button type="submit">Add A Burger</button>
</form>